* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.btn {
  display: inline-block;
  padding: 0 1.6rem;
  /* height: 5rem; */
  min-width: 11.8rem;
  line-height: 5rem;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 60rem;
  border-radius: 99rem;
  background: #171100;
}

.btn:hover {
  opacity: 0.8;
  background-color: red;
}

.header .btn-sign-up {
  min-width: 14.4rem;
}

/* header */
.header {
  background: #fffcf4;
}

.header.fixed {
  z-index: 99;
  position: sticky;
  top: -2.6rem;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 3.6rem 0 0.8rem;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.8rem 2.1rem;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 0.1rem 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 2.1rem;
  bottom: 0.6rem;
  display: block;
  content: "";
  width: 1.5rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background: #171100;
}

.header .action {
  margin-left: 4.9rem;
}

.header .logo {
  width: 8.5rem;
}

/* ============== Hero */
.hero {
  /* margin-top: 5.6rem; */
  padding: 5.6rem 0 0 6.5rem;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  width: 48%;
  position: relative;
}

/* ============= hero left */

.hero .media-block .img {
  width: 47rem;
  height: 68.5rem;
  object-fit: cover;
  border-radius: 5rem;
}

.hero .hero-summary {
  padding: 2.4rem;
  width: 27rem;
  position: absolute;
  bottom: 4.8rem;
  right: 0;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0px 1.6rem 3.2rem 0 rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .icon {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #fff9e8;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0.5rem; */
}

.hero-summary .item + .item {
  margin-top: 2.2rem;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 1.6rem;
}

.hero-summary .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* ======== hero right */

.hero .content-block {
  width: 52%;
  padding-left: 13rem;
  padding-top: 6.4rem;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 2.2rem;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .cta-group {
  margin-top: 3.8rem;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 18rem;
  line-height: 6.4rem;
  background-color: var(--primary-color);
}

.hero .watch-video {
  margin-left: 2.8rem;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 4rem;
  justify-content: center;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 1.4rem;
  color: #171100;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stast strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
  margin-right: 1.5rem;
}

.hero .stast strong:nth-child(2) {
  margin-left: 2.8rem;
}

/* popular */
.popular .popular-top {
  padding-top: 62px;
  margin-top: 138px;
}

.popular .popular-top .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  width: 458px;
}

.popular .controls .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffb900;
  color: var(--primary-color);
}

.popular .controls .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.popular .controls {
  display: flex;
  gap: 20px;
}

.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-main {
  padding-top: 55px;
  display: flex;
  gap: 30px;
}

.popular-main .courses-box {
  width: 370px;
  height: 466px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular-main .content-box {
  margin: 16px 22px 22px;
}

.popular-main .courses-box .lable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-main .courses-box .courses {
  color: #171100;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular-main .courses-box .evaluate {
  color: #fea31b;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.popular-main .courses-box .desc {
  color: #5f5b53;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.popular-main .courses-box .sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-box .sign-up .price {
  color: #171100;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.courses-box .sign-up .btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}
